
		<% if (locals.user) { %>
		<div class="Chat__container">
			<ul class="Messages__wrapper">
			</ul>
			<form class="Chat__zone">
				<input type="hidden" name="username" id="chatHelper__username" value="<%= user.username %>">
				<input type="hidden" name="chat" value="" id="chatHelper__id">
				<input type="text" name="content" placeholder="Entrez un message ..." class="Chat__input">
				<button type="submit" class="Chat__submit" name="soin">
					<i class="fa fa-paper-plane" aria-hidden="true"></i>
				</button>
			</div>
		</div>
		<script src="/javascripts/notifications.js"></script>
		<script>
			var socket = io()
			var me = <%- JSON.stringify(user.username) -%>;
			socket.emit('init', <%- JSON.stringify(user.username) -%>)
		</script>
		<% } %>
		<script src="/javascripts/main.js"></script>
	</body>
	</html>
