		</section>
		<% if (locals.user) { %>
		<script src="/javascripts/notifications.js"></script>
		<script>
			var socket = io()
			socket.emit('init', <%- JSON.stringify(user.username) -%>)

			$.ajax({
				url: 'https://localhost:3001/api/users/' + <%- JSON.stringify(user.username) -%> + '/conversations',
				type: 'GET',
				success: function (data) {
					var fakeChatContainer = $('<div></div>');
					var chatContainer = $('.Profile__chat');
					console.log(data);
					for (var i = data.length - 1; i >= 0; i--) {
						fakeChatContainer.append(createChatEntry(data[i]))
					}
					chatContainer.removeClass('Loading').append(fakeChatContainer.children())
				}
			})
			var createChatEntry = function(data) {
				return (" \
					<div class='Chat__Item'>\
						<a href='#' class='Chat__toggle'>\
							<span>" + data.users[1 - data.users.indexOf(<%- JSON.stringify(user.username) -%>)] + "</span>\
						</a>\
					</div>\
					")
			}
		</script>
		<% } %>
		<script src="/javascripts/main.js"></script>
	</body>
	</html>
