<div class="Modal Settings__Modal Modal--default utils-abs-centered">
	<h3 class="Settings__title">Account Settings</h3>
	<div class="Settings__container">
		<div class="Settings__entry">
			<div class="Settings__label">Location</div>
			<div class="Settings__body">
				<a href="#" class="Location__btn">Locate me !</a>
				<input type="text" name="" class='Settings__input Location__input'>
				<input type="submit" class="Settings__button">
			</div>
		</div>
		<div class="Settings__entry">
			<div class="Settings__label">
				Photos
			</div>
			<div class="Settings__body">
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/javascripts/settings.js"></script> 