/**
 *
 * Normie
 *
 */

 *,
 *::before,
 *::after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}
p {
  margin: 0;
}
input, button, textarea {
  outline-style: none;
}
/**
 *
 * Transitions
 *
 */

 .page-enter-active, .page-leave-active
 {
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}

/**
 *
 * Utils
 *
 */

 .utils-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
.utils-prevent-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.utils-overlay::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(22, 22, 22, 0.8);
  z-index: 5;
}
.utils-clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.utils-fleft {
  float: left;
}
.utils-fright {
  float: right;
}
.utils-abs-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.utils-crossed {
  position: relative;
  z-index: 1;
}
.utils-crossed::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  background-color: currentColor;
  z-index: 0;
}
.utils-frow {
  display: flex;
}
/**
 *
 * Basic components
 *
 */

 .Wrapper {
  max-width: 100%;
  margin: 60px auto;
}

.Title {
  color: #666;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e4e4e4;
}

.Modal {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 6;
}
.Modal__content {
  background-color: inherit;
}
.Modal.w-active {
  opacity: 1;
  visibility: visible;
}
/**
 *
 * Header
 *
 */


 .Header {
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
}
.Header__nav {
  float: right;
  height: inherit;
}
.Header__item {
  float: left;
  height: 60px;
  border-right: 1px solid #e4e4e4;
  color: #929292;
  box-shadow: 0 0 0px rgba(52,52,52,0);
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
  transition: box-shadow 0.4s;
  position: relative;
  cursor: pointer;
}
.Header__item:last-child {
  border-right: 0;
}
.Header__item--has-menu {
  cursor: pointer;
  padding-right: 10px;
}
.Header__item:hover {
  box-shadow: 0 0 9px rgba(52,52,52,0.4);
  z-index: 1;
}
.Header__item.router-link-active {
  border-bottom: 3px solid #39f;
}
.Header__link {
  padding: 0 20px;
  color: inherit;
  min-width: 100px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}
.Header__link--shrinked {
  min-width: auto;
}

/**
 *
 * Errors
 *
 */

 .Errors_container {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 400px;
}
.Error {
  background-color: #d25a5a;
  padding: 10px 30px 10px 20px;
  color: #fff;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
}
.Error__message {
  font-size: 12px;
}





/**

  TODO:
  - Modifier la classe Error__close-btn
  - Utiliser la classe close dans le système d'erreur
  - Replacer la classe close plus haut dans le css

  */

  .Error__close-btn {
    cursor: pointer;
    font-size: 8px;
    color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .close-btn {
    cursor: pointer;
    font-size: 8px;
    color: #fff;
    transform: rotate(45deg);
  }

/**
 *
 * Menu
 *
 */


 .Menu {
  position: absolute;
  right: 5px;
  top: 100%;
  transform: translateY(10px);
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 2px 9px rgba(52,52,52,0.1);
  width: 300px;
  z-index: 2;
}
.Menu, .Menu__arrow {
  opacity: 0;
  visibility: hidden;
}
.w-active.Menu,
.w-active.Menu ~ .Menu__arrow {
  opacity: 1;
  visibility: visible;
}

.Menu--has-arrow::after {
  content: '';
}
.Menu__nav {
  margin: 10px 0;
}
.Menu__item {
  background-color: #fff;
  color: #666;
  font-size: 12px;
}
.Menu__link {
  line-height: 40px;
  color: inherit;
  display: block;
  width: 100%;
  padding: 0 20px;
}
.Menu__link:hover {
  background-color: rgba(52,52,52,0.05);
  color: #333;
}
.Menu__arrow {
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translate(50%, 50%) rotateZ(45deg);
  width: 0;
  height: 0;
  border-top: 5px solid #e4e4e4;
  border-left: 5px solid #e4e4e4;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  z-index: 2;
  background: #fff;
}
.Menu__arrow::before {
  display: inherit;
  position: inherit;
  content: '';
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  width: 0;
  height: 0;
  top: inherit;
  right: inherit;
  transform: translate(50%, -50%);
}
.Menu__toggle {
  text-transform: capitalize;
}
.Menu__toggle--has-arrow::after {
  color: inherit;
  content: '';
  border-top: 5px solid currentColor;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-25%);
  transition: transform 0.3s;
}
.Menu.w-active ~ .Menu__toggle::after {
  transform: translateY(-75%) rotateZ(180deg);
}


/**
 *
 * Notifications
 *
 */

 .Notifications__container {
  max-height: 200px;
  overflow-y: auto;
}


/**
 *
 * Container
 *
 */

 .Container {
  margin-top: 60px;
  margin-left: 100px;
  transition: transform 0.3s;
}

.Container--is-pushed {
  transform: translateX(100px);
}

/**
 *
 * Forms
 *
 */

 .Form__entry {
  margin-bottom: 20px;
}
.Form__row {
  display: flex;
}
.Form__row .Form__entry {
  margin-right: 20px;
}
.Form__row .Form__entry:last-child {
  margin-right: 0;
}
.Input__text {
  width: 100%;
  padding: 15px 10px;
  outline-style: none;
  border: none;
  background-color: #fafafa;
  border: 1px solid transparent;
  transition: border-color 0.2s;
}
.Input__text:hover {
  background-color: #efefef;
}
.Input__text:focus {
  background-color: #fff;
  border-color: #e4e4e4;
}
.Input__text--rounded {
  border-radius: 4px;
}
.Input__submit {
  padding: 10px 20px;
  outline-style: none;
  border: none;
  background-color: #d25a5a;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
.Input__submit--rounded {
  border-radius: 15px;
}
.Input__submit--extend {
  width: 100%;
}


/**
 *
 * Register page
 *
 */


 .Register {
  width: 960px
}

/**
 *
 * Login page
 *
 */

 .Login {
  width: 400px;
  max-width: 100%;
  padding: 20px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(52,52,52,0.1);
}
.Login__header {
  /*border-bottom 1px solid #e4e4e4*/
  padding: 20px 0;
  margin-top: 40px;
  position: relative;
}
.Login__header::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #999;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.Login__title {
  text-align: center;
  background-color: #fff;
  padding: 0 10px;
  color: #666;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 200;
}
.Login__body {
  margin: 40px 0;
  text-align: center;
}
.Login__lost {
  font-size: 12px;
  text-align: center;
  color: #d25a5a;
  padding-bottom: 2px;
}
.Login__lost:hover {
  border-bottom: 1px dashed;
}



/**
 *
 * Profile Page
 *
 */

 .Profile {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.Profile__chat {
  padding: 10px 0;
  width: 100px;
  border-right: 1px solid #e4e4e4;
  /*height: 100vh;*/
  transition: width 0.3s;
}
.Profile__chat--is-extended {
  width: 300px;
}
.Profile__infos {
  flex: 1;
}
.Profile__cover {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  padding: 0 80px;
  position: relative;
}
.Profile__actions {
  position: absolute;
  top: 45px;
}
.Profile__btn {
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  font-weight: bold;
  position: relative;
  border: 1px solid transparent;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
}
.Profile__btn--with-icon {
  padding-right: 30px;
}
.Btn__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: transform .1s;
  -moz-transition: transform .1s;
  -ms-transition: transform .1s;
  -o-transition: transform .1s;
  transition: transform .1s;
}
.Btn__icon i {
  vertical-align: middle;
}
.Profile__btn--like {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d32a2a+0,e53d2d+52,fc0043+100&1+0,1+52,0.97+100 */
  background: -moz-linear-gradient(-45deg,  rgba(211,42,42,1) 0%, rgba(229,61,45,1) 52%, rgba(252,0,67,0.97) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(211,42,42,1) 0%,rgba(229,61,45,1) 52%,rgba(252,0,67,0.97) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(211,42,42,1) 0%,rgba(229,61,45,1) 52%,rgba(252,0,67,0.97) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d32a2a', endColorstr='#f7fc0043',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.Profile__btn:hover .Btn__icon{
  -webkit-transform: translateY(-50%) scale(1.2);
  -moz-transform: translateY(-50%) scale(1.2);
  -ms-transform: translateY(-50%) scale(1.2);
  -o-transform: translateY(-50%) scale(1.2);
  transform: translateY(-50%) scale(1.2);
}
.Profile__btn--chat {
  color: #999;
  border-color: #f5f5f5;
}
.Profile__user {
  display: flex;
}

.Settings__toggle {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 18px;
  color: #999;
}
/* TEST */
.Profile__user--is-online::after {
  content: 'en ligne'
}
.Profile__user--is-offline::after {
  content: 'hors ligne';
}
/********/
.Profile__thumbnail {
  width: 180px;
  height: 180px;
  background-color: #efefef;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
/*.Profile__thumbnail img {
  width: 100%;
  height: auto;
  }*/
  .Thumbnail__add {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    background: rgba(252,252,252,0.9);
  }
  .Thumbnail__add:after {
    position: absolute;
    content: '+';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999;
    font-weight: bolder;
    font-size: 48px;
  }
  .Modal--default {
    width: 600px;
    max-width: 100%;
    padding: 20px;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(52,52,52,0.1);
  }
  .Profile__thumbnail:hover .Thumbnail__add,
  .Thumbnail__add--is-visible {
    visibility: visible;
    opacity: 1;
  }
  .Profile__identity {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Profile__name {
    font-family: 'Helvetica Neue';
    font-size: 48px;
    color: #666;
  }
  .Name__first {
    font-weight: 200;
    margin-right: 10px;
  }
  .Name__last {
    font-weight: normal;
  }
  .Profile__others {
    display: flex;
  }
  .Others__entry {
    text-align: center;
    flex: 1;
    color: #666;
    position: relative;
  }
  .Tooltip__toggle:hover .Tooltip {
    opacity: 1;
    visibility: visible;
  }
  .Others__icon {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .Others__value {
    font-size: 14px;
    font-weight: 600;
  }
  .Tooltip {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    background-color: #343434;
    color: #fff;
    position: absolute;
    bottom: -40px;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 200;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 4;
  }
  .Profile__misc {
    border-top: 1px solid #e4e4e4;
    margin: 0 80px;
  }
  .Profile__loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4e4e4;
  }

  .Section__header {
    font-size: 28px;
    color: #666;
    margin: 40px
  }
  .Profile__section {
    position: relative;
  }
  .Section__body {
    position: relative;
    border-radius: 4px;
    padding: 20px 40px;
  }


/**
 *
 * Tags
 *
 */


 .Tag {
  position: relative;
  background-color: #f5f5f5;
  color: #afafaf;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 6px; 
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
.Tag--little {
  font-size: 9px;
  margin-right: 3px;
  margin-bottom: 5px;
  padding: 3px 5px;
}
.Tags__container {
  display: inline-block;
  max-width: 600px;
}
.Tag__dropdown {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}
.Tag__content {
  vertical-align: middle;
}
.Tag__close {
  vertical-align: middle;
}
.Tag__icon {
  font-size: 10px;
  color: inherit;
}

.Tag__edit {
  display: inline-block;
  position: relative;
  color: #afafaf;
}

.Tag__input {
  cursor: pointer;
  border: none;
  display: block;
  color: #afafaf;
  outline-style: none;
  transition: all 0.2s;
  min-width: 110px;
  border: 1px solid transparent;
}

.Tag__input:focus {
  background-color: #fff;
  border-color: #f5f5f5;
}
.Tag__add {
  position: absolute;
  right: 18px;
  top: 11px;
}
/**
 *
 * Profile modal : Photos
 *
 */


/**
 *
 * Chat
 *
 */
 .Chat__toggle {
  padding: 10px;
  display: block;
  font-size: 12px;
  position: relative;
  color: #999;
}
.active.Chat__toggle {
  color: #3399ff;
}
.active.Chat__toggle::after {
  content: '';
  position: absolute;
  right: -1px;
  top: 0;
  bottom: 0;
  z-index: 9;
  border-right: 2px solid #3399ff;
}
.Chat__container {
  background-color: rgba(255,255,255, 0.95);
  position: fixed;
  top: 60px;
  right: 0;
  left: 100px;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}

.Chat__container--active {
  opacity: 1;
  visibility: visible;
}

.Chat__zone {
  /*position: absolute;
  bottom: 0;
  right: 0;
  left: 0;*/
  display: flex;
}
.Chat__input {
  flex: 1;
  height: 55px;
  padding: 20px;
  display: block;
  outline-style: none;
  border: 1px solid #e4e4e4;
  border-left: none;
  border-right: none;
  color: #666;
}
.Chat__submit {
  border: none;
  padding: 0 30px;
  background-color: #3399ff;
  color: #fff;
  font-family: 'Helvetica Neue';
  text-transform: uppercase;
  cursor: pointer;
  outline-style: none;
}
.Messages__wrapper {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}
.Messages__item {
  width: 100%;
  display: block;
  text-align: left;
  margin-bottom: 10px; 
}

.Messages__item--me {
  color: #fff;
  text-align: right;
}
.Messages__item--me .Message__content {
  background-color: #3399ff;
  color: #fff;
}
.Message__from {
  color: #666;
  font-size: 12px;
  display: none;
}
.Message__from::after {
  content: ': ';
}
.Message__content{
  border-radius: 12px;
  padding: 10px;
  background-color: #fafafa;
  color: #999;
  font-size: 12px;
  display: inline-block;
}
/**
 *
 * Sidebar
 *
 */

 .Sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 100px;
  border-right: 1px solid #e4e4e4;
  background-color: #fff;
  z-index: 4;
}

.Sidebar--is-extended {
  width: 200px;
}

/**
 *
 * Select theme overwrite
 *
 */

/*.select2-container--matcha .select2-dropdown {
  border: 1px solid #fafafa;
  box-shadow: 0px 0px 3px rgba(52, 52, 52, 0.2)
}
*/


/**
 *
 * Loader
 *
 */

 /**
  *
  * Settings Modal
  *
  */
  .Settings__title {
    font-family: 'Helvetica Neue', sans-serif;
    color: #666;
    font-size: 24px;
    margin: 40px 20px;
  }

  .Settings__container {
    padding: 40px 20px;
  }
  .Settings__entry {
    position: relative;
  }
  .Settings__label {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    padding: 20px 0;
    /*border-bottom: 1px solid #efefef;*/
  }
  .Settings__label:after {
    font-family: 'fontawesome';
    content: '\f078';
    position: absolute;
    right: 0;
    transition: transform 0.2s;
  }
  .Settings__body {
    display: none;
  }
  .Settings__entry.is-opened .Settings__body {
    display: block;
  }
  .Settings__entry.is-opened .Settings__label {
    border-bottom-color: transparent;
  }
  .Settings__entry.is-opened .Settings__label::after {
    transform: rotateZ(180deg);
  }
  .Settings__input {
    padding:12px;
    border-radius: 4px;
    display: inline-block;
    border: none;
    outline-style: none;
  }
  .Settings__button {
    outline-style: none;
    cursor: pointer;
    display: inline-block;
    padding: 8px 10px;
    border: none; 
    border-radius: 4px;
    font-weight: bold;
    background-color: #efefef;
    color: #777;
    font-size: 11px;
    margin-right: 10px;
  }
  .Settings__button:last-child {
    margin-right: 0;
  }
  .Location__btn, .Location__input {
    /*float: left;*/
    /*height: 32px;*/
  }
  /*.Settings__row {
    margin-bottom: 20px;
    }*/
    .Location__btn {
      padding: 12px;
      color: #ffffff;
      font-size: 10px;
      background-color: #d25a5a;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      /* border: 1px solid #27ae60; */
    }
    .Location__btn i {
      margin-right: 10px;
      font-size: 16px;
      vertical-align: middle;
    }
    .Location__input {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border: 1px solid transparent;
      border-left: 0;
      background-color: #efefef;
      flex: 1;
      color: #999;
    }
    .Location__input:focus {
      background-color: transparent;
      border-color: #fafafa;
    }
    .Settings__photos {
      position: relative;
    }
    .Settings__actions {
      margin: 20px 0;
    }
    .Photos__item {
      float: left;
      width: calc(1/3 * 100% - 40px / 3);
      height: 0;
      padding-bottom: calc(1/3 * 100% - 40px / 3);
      margin: 10px;
      border-radius: 4px;
      position: relative;
      overflow: hidden;
      border: 1px solid #e4e4e4;
    }
    .Photos__item:nth-child(3n) {
      margin-right: 0;
    }
    .Photos__item:nth-child(3n+1) {
      margin-left: 0;
    }
    .Photos__item--starred::before {
      content: '\f005';
      font-family: 'fontawesome';
      position: absolute;
      bottom: 10px;
      right: 10px;
      z-index: 9;
      color: #fff;
      text-shadow: 0px 0px 3px rgba(52,52,52,0.6);
    }
    .Photos__item--selected {
      border-color: #3399ff;
    }
    .Photos__item--selectable::after {
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(52,52,52,0.4);
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      cursor: pointer;
    }
    .Photos__item--selectable:hover::after {
      opacity: 1;
      visibility: visible;
    }
    .Photos__item--selectable:hover > img {
      filter: blur(2px);
      transition: filter 0.3s;
    }
    .Photos__item--selectable > img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .Photos__toggle {
      background-color: #fafafa;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .Photos__toggle:hover {
      background-color: #efefef;
    }

    .Photos__toggle:hover::after {
      color: #aaa;
    }
    .Photos__toggle::after {
      font-size: 24px;
      color: #e4e4e4;
      content: "\f067";
      position: absolute;
      font-family: "fontawesome";
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      transition: color 0.3s;
    }




    /**
     *
     * Dashboard
     *
     */

     .Dropdown, .Filter__entry {
      position: relative;
      font-size: 10px;
      color: #666;
      margin: 20px 10px; 
      min-width: 140px;
      flex: 1;
    }

    .Dropdown__label, .Filter__label {
      position: absolute;
      bottom: 100%;
      left: 0;
      color: #676767;
      padding: 10px 0;
      font-size: 12px;
      font-weight: bold;
      user-select: none;
      overflow: hidden;
      white-space: nowrap;
    }
    .Dropdown__selected {
      user-select: none;
      cursor: pointer;
    }
    .Dropdown__selected, .Filter__input {
      border: 1px solid #e4e4e4;
      border-radius: 4px;
      padding: 8px 10px;
      position: relative;
      width: 100%;
    }
    .Dropdown__selected::after {
      content: "\f078";
      position: absolute;
      font-family: fontawesome;
      right: 10px;
      transition: transform 0.2s;
    }
    .Dropdown__list {
      user-select: none;
      position: absolute;
      top: 100%;
      transform: translateY(-2px);
      left: 0px;
      right: 0px;
      border: 1px solid #e4e4e4;
      border-top: 0;
      opacity: 0;
      visibility: hidden;
      background-color: #fff;
      padding: 10px 0;
      box-shadow: 0px 3px 3px rgba(52,52,52,0.07);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: pointer;
      z-index: 2;
    }
    .Dropdown__item {
      padding: 10px;
    }
    .Dropdown__item:hover, .Dropdown__item--selected {
      background-color: #fafafa;
    }
    .w-active .Dropdown__selected::after {
      transform: rotateZ(-180deg);
    }
    .w-active .Dropdown__list {
     opacity: 1;
     visibility: visible; 
   }



    /**
     *
     * Filters
     *
     */


    /**
     *
     * Dashboard
     *
     */


     .Dashboard__wrapper {
      width: 960px;
      max-width: 100%;
      margin: 0 auto;
      background-color: #fafafa;
    }
    .Dashboard__filters {
      background-color: #fff;
      padding: 20px;
      box-shadow: 0px 5px 9px rgba(12, 12 ,12, 0.05);
      margin-bottom: 10px;
      display: flex;
    }

    .Dashboard__card {
      font-family: 'Fira Sans', 'Open sans', 'Helvetica Neue', sans-serif;
      color: #666;
      font-size: 12px;
      float: left;

      margin: 10px;
      background-color: #fff;
      transition: all 0.3s;
    }
    .Dashboard__card:hover {
      box-shadow: 0px 0px 19px rgba(52,52,52,0.2);
      transform: scale(1.04);
    }
    .Card__item.Card__tags {
      display: flex;
      align-items: baseline;
    }
    .Card__Thumbnail {
      background-size: cover;
      background-color: #333;
      text-align: center;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
    }
    .Card__Thumbnail::after {
      content: "Check profile";
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(52,52,52,0.8);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      cursor: pointer;
      align-items: center;
      align-content: center;
      text-transform: uppercase;
      justify-content: center;
      color: #fff;
      font-family: 'Montserrat';
    }
    .Card__Thumbnail:hover::after {
      opacity: 1;
      visibility: visible;
    }
    .Card__content {
      padding: 10px;
    }
    .Card__item {
      margin-bottom: 6px;
      font-size: 10px;
      font-family: 'Open Sans';
      color: #999;
      display: block;
    }
    .Card__item i {
      margin-right: 5px;
    }

    @media screen and (min-width: 1025px) {
      .Dashbaord__wrapper {
        padding: 10px 20px;
      }
      .Dashboard__card {
        width: calc(1/4 * 100% - 3 * 20px / 4);
      }
      .Dashboard__card:nth-child(4n) {
        margin-right: 0;
      }
      .Dashboard__card:nth-child(4n + 1) {
        margin-left: 0;
      }
    }
    @media screen and (max-width: 1024px) {
      .Dashboard__grid {
        padding: 0 20px 10px;
      }
      .Dashboard__filters {
        flex-direction: column;
      }
      .Dropdown__selected, .Filter__input {
        padding: 16px 12px;
      }
      .Dashboard__card {
        width: calc(1/2 * 100% - 20px / 2)
      }
      .Dashboard__card:nth-child(2n) {
        margin-right: 0;
      }
      .Dashboard__card:nth-child(2n + 1) {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 680px) {
      .Dashboard__filters {
        margin-bottom: 0;
      }
      .Dashboard__card {
        width: 100%;
      }
      .Dashboard__card:nth-child(2n), .Dashboard__card:nth-child(2n + 1) {margin: 0;}
      .Dashboard__grid {
        padding: 0;
      }
      .Dashboard__card:hover {
        transform: scale(1);
      }
    }