/**
 *
 * Normie
 *
 */

 *,
 *::before,
 *::after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}
p {
  margin: 0;
}
/**
 *
 * Transitions
 *
 */

 .page-enter-active, .page-leave-active
 {
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}

/**
 *
 * Utils
 *
 */
 .utils-overlay::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(22, 22, 22, 0.8);
  z-index: 3;
}
.utils-clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.utils-fleft {
  float: left;
}
.utils-fright {
  float: right;
}
.utils-abs-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.utils-crossed {
  position: relative;
  z-index: 1;
}
.utils-crossed::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  background-color: currentColor;
  z-index: 0;
}

/**
 *
 * Basic components
 *
 */

 .Wrapper {
  max-width: 100%;
  margin: 60px auto;
}

.Title {
  color: #666;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e4e4e4;
}

.Modal {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 3;
}
.Modal__content {
  background-color: inherit;
}
.Modal.w-active {
  opacity: 1;
  visibility: visible;
}
/**
 *
 * Header
 *
 */


 .Header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
}
.Header__nav {
  float: right;
  height: inherit;
}
.Header__item {
  float: left;
  height: 60px;
  border-right: 1px solid #e4e4e4;
  color: #929292;
  box-shadow: 0 0 0px rgba(52,52,52,0);
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
  transition: box-shadow 0.4s;
  position: relative;
  cursor: pointer;
}
.Header__item:last-child {
  border-right: 0;
}
.Header__item--has-menu {
  cursor: pointer;
  padding-right: 10px;
}
.Header__item:hover {
  box-shadow: 0 0 9px rgba(52,52,52,0.4);
  z-index: 1;
}
.Header__item.router-link-active {
  border-bottom: 3px solid #39f;
}
.Header__link {
  padding: 0 20px;
  color: inherit;
  min-width: 100px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}
.Header__link--shrinked {
  min-width: auto;
}

/**
 *
 * Errors
 *
 */

 .Errors_container {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 400px;
}
.Error {
  background-color: #d25a5a;
  padding: 10px 30px 10px 20px;
  color: #fff;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
}
.Error__message {
  font-size: 12px;
}



/**

  TODO:
  - Modifier la classe Error__close-btn
  - Utiliser la classe close dans le système d'erreur
  - Replacer la classe close plus haut dans le css

  */

  .Error__close-btn {
    cursor: pointer;
    font-size: 8px;
    color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .close-btn {
    cursor: pointer;
    font-size: 8px;
    color: #fff;
    transform: rotate(45deg);
  }

/**
 *
 * Menu
 *
 */


 .Menu {
  position: absolute;
  right: 5px;
  top: 100%;
  transform: translateY(10px);
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 2px 9px rgba(52,52,52,0.1);
  width: 300px;
  z-index: 2;
}
.Menu, .Menu__arrow {
  opacity: 0;
  visibility: hidden;
}
.w-active.Menu,
.w-active.Menu ~ .Menu__arrow {
  opacity: 1;
  visibility: visible;
}

.Menu--has-arrow::after {
  content: '';
}
.Menu__nav {
  margin: 10px 0;
}
.Menu__item {
  background-color: #fff;
  color: #666;
  font-size: 12px;
}
.Menu__link {
  line-height: 40px;
  color: inherit;
  display: block;
  width: 100%;
  padding: 0 20px;
}
.Menu__link:hover {
  background-color: rgba(52,52,52,0.05);
  color: #333;
}
.Menu__arrow {
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translate(50%, 50%) rotateZ(45deg);
  width: 0;
  height: 0;
  border-top: 5px solid #e4e4e4;
  border-left: 5px solid #e4e4e4;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  z-index: 2;
  background: #fff;
}
.Menu__arrow::before {
  display: inherit;
  position: inherit;
  content: '';
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  width: 0;
  height: 0;
  top: inherit;
  right: inherit;
  transform: translate(50%, -50%);
}
.Menu__toggle {
  text-transform: capitalize;
}
.Menu__toggle--has-arrow::after {
  color: inherit;
  content: '';
  border-top: 5px solid currentColor;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-25%);
  transition: transform 0.3s;
}
.Menu.w-active ~ .Menu__toggle::after {
  transform: translateY(-75%) rotateZ(180deg);
}

/**
 *
 * Forms
 *
 */

 .Form__entry {
  margin-bottom: 20px;
}
.Form__row {
  display: flex;
}
.Form__row .Form__entry {
  margin-right: 20px;
}
.Form__row .Form__entry:last-child {
  margin-right: 0;
}
.Input__text {
  width: 100%;
  padding: 15px 10px;
  outline-style: none;
  border: none;
  background-color: #fafafa;
  border: 1px solid transparent;
  transition: border-color 0.2s;
}
.Input__text:hover {
  background-color: #efefef;
}
.Input__text:focus {
  background-color: #fff;
  border-color: #e4e4e4;
}
.Input__text--rounded {
  border-radius: 4px;
}
.Input__submit {
  padding: 10px 20px;
  outline-style: none;
  border: none;
  background-color: #d25a5a;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
.Input__submit--rounded {
  border-radius: 15px;
}
.Input__submit--extend {
  width: 100%;
}


/**
 *
 * Register page
 *
 */


 .Register {
  width: 960px
}

/**
 *
 * Login page
 *
 */

 .Login {
  width: 400px;
  max-width: 100%;
  padding: 20px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(52,52,52,0.1);
}
.Login__header {
  /*border-bottom 1px solid #e4e4e4*/
  padding: 20px 0;
  margin-top: 40px;
  position: relative;
}
.Login__header::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #999;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.Login__title {
  text-align: center;
  background-color: #fff;
  padding: 0 10px;
  color: #666;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 200;
}
.Login__body {
  margin: 40px 0;
  text-align: center;
}
.Login__lost {
  font-size: 12px;
  text-align: center;
  color: #d25a5a;
  padding-bottom: 2px;
}
.Login__lost:hover {
  border-bottom: 1px dashed;
}



/**
 *
 * Profile Page
 *
 */

 .Profile {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.Profile__chat {
  width: 100px;
  border-right: 1px solid #e4e4e4;
  height: 100vh;
  transition: width 0.3s;
}
.Profile__chat--is-extended {
  width: 300px;
}
.Profile__infos {
  flex: 1;
}
.Profile__cover {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  padding: 0 80px;
  position: relative;
}
.Profile__actions {
  position: absolute;
  top: 45px;
}
.Profile__btn {
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  font-weight: bold;
  position: relative;
  border: 1px solid transparent;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
}
.Profile__btn--with-icon {
  padding-right: 30px;
}
.Btn__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: transform .1s;
     -moz-transition: transform .1s;
      -ms-transition: transform .1s;
       -o-transition: transform .1s;
          transition: transform .1s;
}
.Btn__icon i {
  vertical-align: middle;
}
.Profile__btn--like {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d32a2a+0,e53d2d+52,fc0043+100&1+0,1+52,0.97+100 */
  background: -moz-linear-gradient(-45deg,  rgba(211,42,42,1) 0%, rgba(229,61,45,1) 52%, rgba(252,0,67,0.97) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(211,42,42,1) 0%,rgba(229,61,45,1) 52%,rgba(252,0,67,0.97) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(211,42,42,1) 0%,rgba(229,61,45,1) 52%,rgba(252,0,67,0.97) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d32a2a', endColorstr='#f7fc0043',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.Profile__btn:hover .Btn__icon{
  -webkit-transform: translateY(-50%) scale(1.2);
  -moz-transform: translateY(-50%) scale(1.2);
  -ms-transform: translateY(-50%) scale(1.2);
  -o-transform: translateY(-50%) scale(1.2);
  transform: translateY(-50%) scale(1.2);
}
.Profile__btn--chat {
  color: #999;
  border-color: #f5f5f5;
}
.Profile__btn--is-disabled {
  
}
.Profile__user {
  display: flex;
}
/* TEST */
.Profile__user--is-online::after {
  content: 'en ligne'
}
.Profile__user--is-offline::after {
  content: 'hors ligne';
}
/********/
.Profile__thumbnail {
  width: 180px;
  height: 180px;
  background-color: #efefef;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
/*.Profile__thumbnail img {
  width: 100%;
  height: auto;
  }*/
  .Thumbnail__add {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    background: rgba(252,252,252,0.9);
  }
  .Thumbnail__add:after {
    position: absolute;
    content: '+';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999;
    font-weight: bolder;
    font-size: 48px;
  }
  .Modal--default {
    width: 600px;
    max-width: 100%;
    padding: 20px;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(52,52,52,0.1);
  }
  .Profile__thumbnail:hover .Thumbnail__add,
  .Thumbnail__add--is-visible {
    visibility: visible;
    opacity: 1;
  }
  .Profile__identity {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Profile__name {
    font-family: 'Helvetica Neue';
    font-size: 48px;
    color: #666;
  }
  .Name__first {
    font-weight: 200;
    margin-right: 10px;
  }
  .Name__last {
    font-weight: normal;
  }
  .Profile__others {
    display: flex;
  }
  .Others__entry {
    text-align: center;
    flex: 1;
    color: #666;
    position: relative;
  }
  .Tooltip__toggle:hover .Tooltip {
    opacity: 1;
    visibility: visible;
  }
  .Others__icon {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .Others__value {
    font-size: 14px;
    font-weight: 600;
  }
  .Tooltip {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    background-color: #343434;
    color: #fff;
    position: absolute;
    bottom: -40px;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 200;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 4;
  }
  .Profile__misc {
    border-top: 1px solid #e4e4e4;
    margin: 0 80px;
  }

  .Section__header {
    font-size: 28px;
    color: #666;
    margin: 40px
  }

  .Section__body {
    border-radius: 4px;
    padding: 20px 40px;
  }


/**
 *
 * Tags
 *
 */


 .Tag {
  position: relative;
  background-color: #f5f5f5;
  color: #afafaf;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 6px; 
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
.Tag__dropdown {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}
.Tag__content {
  vertical-align: middle;
}
.Tag__close {
  vertical-align: middle;
}
.Tag__icon {
  font-size: 10px;
}


/**
 *
 * Profile modal : Photos
 *
 */

 .Photos__grid {
  overflow: hidden;
}
.Photos__item {
  float: left;
  width: calc(1/3 * 100% - 13.5px);
  overflow: hidden;
  margin: 10px;
  /*border: 1px solid #efefef;*/
  height: 0;
  padding-bottom: calc(1/3 * 100% - 13.5px);
  border-radius: 4px;
  position: relative;
}
.Photos__item:nth-child(3n) {
  margin-right: 0;
}
.Photos__item:nth-child(3n+1) {
  margin-left: 0;
}
.Photos__item--selected {
  border-color: #3399ff;
}
.Photos__item::after {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(52,52,52,0.4);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  cursor: pointer;
}
.Photos__item:hover::after {
  opacity: 1;
  visibility: visible;
}
.Photos__item:hover > img {
  filter: blur(2px);
  transition: filter 0.3s;
}
.Photos__item > img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/**
 *
 * Profile modal : Interests
 *
 */


/**
 *
 * Select theme overwrite
 *
 */

/*.select2-container--matcha .select2-dropdown {
  border: 1px solid #fafafa;
  box-shadow: 0px 0px 3px rgba(52, 52, 52, 0.2)
}
*/


/**
 *
 * Loader
 *
 */